<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Darklady Calls</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat&family=Michroma&display=swap"><!-- family=font1&family=multi+name+font2&family=font3&display=swap"  -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=call,close,distance,language,mail,menu" /><!-- Requires alphabetical order to work -->
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="/static/css/pages/page-04.css">
        <script src="/static/js/header.js" defer></script>
        <script src="/static/js/footer.js" defer></script>
        <script src="/static/js/modal.js" defer></script>
        <script type="module" src="/static/js/main.js"></script>
    </head>
    <body>
        <site-header></site-header>
        <main id="main-content" role="main">
            <div class="container-body">
                <div class="title">
                    <p class="subtitle">A Era da Rainha</p>
                    <h1>O elo final: sua vida pela liberdade dela</h1>
                    <p class="paragraph">
                        O sacrifício supremo que fecha a ferida Azeroth será salva através de sua rendição
                    </p>
                    <div class="next-button">
                        <button class="info-btn" onclick="window.location.href='register.html';">Eu me entrego</button>
                    </div>
                </div>
            </div>
            <site-modal></site-modal>
        </main>
        <site-footer></site-footer>
    </body>
</html>