main {
  background-image: url(/src/page_03_bcgd.png);
}

.container-body {
  padding-bottom: var(--space-md);
}

.title {
  width: 800px;
  height: 558px;
}

.paragraph {
  width: 400px;
}

.next-button {
  padding: var(--space-1xl) 0 var(--space-2xl);
}

/* ============================
        RESPONSIVE DESIGN
   ============================ */
/* TABLETS */
@media screen and (max-width:768px) {
  .title h1 {
    max-width: 500px;
  }
}

/* PHONES */
@media screen and (max-width:520px) {
  .title {
        height: auto;
    }
}