* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-sans);
  font-size: 1rem;
  line-height: 1.6;
  color: var(--color-text-dark);
  background-color: var(--color-white);
  overflow-x: hidden;
  scrollbar-gutter: stable;
}